name: release

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Git Account
        run: |
          git config user.name "emjpm-github-action"
          git config user.email "emjpm.github.action@mail.com"

      - name: Yarn Release
        run: |
          echo ${{ secrets.GH_TOKEN }} > .gh-token
          yarn release
          rm .gh-token

        # Documentation: https://github.com/martinbeentjes/npm-get-version-action
      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1
        with:
          path: packages/api

      - name: Build Hasura Docker Image
        run: docker build -t harbor.fabrique.social.gouv.fr/sdpsn/cs2j/emjpm/hasura:v${{ steps.package-version.outputs.current-version }} -f ./packages/hasura/Dockerfile .

      - name: Build App Docker Image
        run: docker build -t harbor.fabrique.social.gouv.fr/sdpsn/cs2j/emjpm/app:v${{ steps.package-version.outputs.current-version }} -f ./packages/app/Dockerfile .

      - name: Build Api Docker Image
        run: docker build -t harbor.fabrique.social.gouv.fr/sdpsn/cs2j/emjpm/api:v${{ steps.package-version.outputs.current-version }} -f ./packages/api/Dockerfile .

      - name: Login Harbor
        run: docker login harbor.fabrique.social.gouv.fr -u '${{ secrets.HARBOR_USERNAME }}' -p '${{ secrets.HARBOR_PASSWORD }}'

      - name: Push Hasura Docker Image to Harbor
        run: docker push harbor.fabrique.social.gouv.fr/sdpsn/cs2j/emjpm/hasura:v${{ steps.package-version.outputs.current-version }}

      - name: Push App Docker Image to Harbor
        run: docker push harbor.fabrique.social.gouv.fr/sdpsn/cs2j/emjpm/app:v${{ steps.package-version.outputs.current-version }}

      - name: Push Api Docker Image to Harbor
        run: docker push harbor.fabrique.social.gouv.fr/sdpsn/cs2j/emjpm/api:v${{ steps.package-version.outputs.current-version }}
